.main {
  text-align: center;
}

.main h1 {
  font-family: 'Roboto';
  font-size: 36px;
  margin-left: 90px;
  margin-top: 100px;
  margin-bottom: 15px;
}

.main h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgba(243, 242, 242, 0.589);
}

.main .header h1 {
  margin-top: 10px;
}

.favourite-icon {
  margin-right: 20px;
}

.main-buttons {
  margin-bottom: 20px;
}

.main-buttons button {
  margin-left: 3px;
  margin-right: 3px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 0.1px solid rgb(211, 210, 210);
}

.main-buttons button:hover {
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
